---
---

@import "minima";

.language-switcher {
  margin-top: 1rem;
  display: flex;
  align-items: right;
  width: 100%;
  
  a, span {
    margin-left: 0.5rem;
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    
    &:hover {
      color: $brand-color;
    }

    &.current-lang {
      font-weight: bold;
      color: $brand-color;
    }

    .lang-icon {
      height: 18px;
      margin-right: 4px;
      vertical-align: middle;
      object-fit: contain;
    }
  }
} 

